/** Transitions **/
$transition-fast: .15s ease-in;

/** Layout **/
$scrollable-view-top-offset: 5.4rem;
$scrollable-view-bottom-offset: 5.4rem;
$scrollable-view-left-offset: 15rem;

/** Pixel Theme **/
$px-pink: #ff6961;
$px-pink-darker: #dc5c55;
$px-blue: #0492c2;
$px-blue-darker: #5f26a3;
$px-aqua: #e6ebff;

$cleany-box-shadow-pink: 0 .5rem 1rem rgba($px-pink, .30);